---
---

@import "{{ site.theme }}";

#header[role=banner] {
  background-color: red;
}  

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rwows: 1fr;
  grid-gap: 10px 15px;
}
