---
---

@import "{{ site.theme }}";

#newbanner {
  background-image: linear-gradient(120deg, #DAA520, #FFFFFF);
}  

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rwows: 1fr;
  grid-gap: 10px 15px;
}
